ControleurServeur/bin/Debug/ControleurServeur.vshost.exe
ControleurServeur/obj/Debug/ControleurServeur.csproj.FileListAbsolute.txt
ControleurServeur/obj/Debug/ControleurServeur.csproj.FileListAbsolute.txt