ControleurServeur/bin/Debug/
ControleurServeur/obj/Debug/
ControleurServeur/bin/Debug/ControleurServeur.vshost.exe
ControleurServeur/obj/Debug/ControleurServeur.csproj.FileListAbsolute.txt
*.exe
*.txt